/*=============================================
CATEGORIAS
=============================================*/

/*------------carrousel categorias --------------*/

.centradoCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 500px;
}

.card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
