/*=============================================
CONOCENOS
=============================================*/

/*------------ conocenos --------------*/

.fondoConocenos {
  background-image: url(../img/fondoConocenos.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.fondoConocenos::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(91, 207, 209, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 28px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.65);
}

.scale {
  transition: transform 1s;
}

.scale:hover {
  transform: scale(1.1);
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px hacia abajo)
=============================================*/

@media (max-width: 768px) {
  .fondoConocenos {
    height: 700px;
  }
}
